/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* CSS Reset End */

:root {
    --clr-light-theme: hsl(230, 22%, 74%);
    --clr-toggle-btn: hsl(230, 22%, 74%);

    --clr-bg-color: hsl(0, 0%, 100%);
    --clr-header: hsl(225, 100%, 98%);
    --clr-cardBG: hsl(227, 47%, 96%); 
    --clr-text: hsl(228, 12%, 44%);
    --clr-text-accent: hsl(230, 17%, 14%);

    --clr-limegrn: hsl(163, 72%, 41%);
    --clr-red: hsl(356, 69%, 56%);
    --clr-facebook: hsl(208, 92%, 53%);
    --clr-twitter: hsl(203, 89%, 53%);
    --clr-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --clr-youtube: hsl(348, 97%, 39%);

    --font-family: 'Inter', sans-serif;
    --font-weight-bold: 700;

    --hover-opacity: brightness(90%);
}

:root.dark {
    --clr-bg-color: hsl(230, 17%, 14%);
    --clr-header: hsl(232, 19%, 15%);
    --clr-cardBG: hsl(228, 28%, 20%); 
    --clr-text: hsl(228, 34%, 66%);
    --clr-text-accent: hsl(0, 0%, 100%);

    --hover-opacity: brightness(120%);
}

body {
    background: var(--clr-bg-color);
    font-family: var(--font-family);
    color: var(--clr-text);
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main,
.header {
    max-width: 1350px;
    width: 100%;
    height: 100%;
    padding: 2em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 1em;
}

header {
    background: var(--clr-header);
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title,
p.social-total,
.overview-card-views {
    color: var(--clr-text-accent);
}

.title {
    font-size: 1.25rem;
}

.social-title {
    margin-left: .25em;
}

p.social-total,
.overview-card-views {
    font-weight: var(--font-weight-bold);
}


p.social-total {
    font-size: 3rem;
}

p.social-followers {
    text-transform: uppercase;
    letter-spacing: 3px;
}

p.social-today,
.lime-text {
    color: var(--clr-limegrn);
}

p.red {
    color: var(--clr-red);
}

.overview-card-views {
    font-size: 2.25rem;
}

/* dark mode toggler */

.header-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: 1px solid var(--clr-text-accent);
    gap: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.75em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to left,
        hsl(210, 78%, 56%),
        hsl(146, 68%, 55%)
    );
    background: var(--clr-toggle-btn);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.25em;
    width: 1.25em;
    left: .25em;
    bottom: .25em;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(
        to left, 
        hsl(210, 78%, 56%), 
        hsl(146, 68%, 55%)
    );
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-toggle-btn);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(1.7em);
    -ms-transform: translateX(1.7em);
    transform: translateX(1.7em);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Social medias */
.social {
    display: grid;
    justify-items: center;
    align-content: center;
}

.social,
.overview-card {
    background: var(--clr-cardBG);
    border-radius: 7px;
    margin: 1em 0;
    padding: 2em 2.5em;
    cursor: pointer;
}

.facebook {
    border-top: solid 5px var(--clr-facebook);
}

.twitter {
    border-top: solid 5px var(--clr-twitter);
}

.instagram {
    border-top: 5px solid;
    border-image: var(--clr-instagram) 1 0 0 0;
}

.youtube {
    border-top: solid 5px var(--clr-youtube);
}

.overview {
    grid-column: 1/-1;
}

.overview-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: var(--clr-cardBG);
}

.overview-card:hover,
.social:hover {
    filter: var(--hover-opacity);
}

.overview-card-title,
.overview-card-views {
    align-self: center;
}

.overview-card-img,
.overview-card-percent-container {
    align-self: center;
    justify-self: end;
}

footer {
    text-align: center;
    margin-top: auto;
    width: 100%;
    background: var(--clr-bg-color);
    height: 5vh;
}

@media (min-width: 400px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-toggle {
        border-top: none;
    }
}